
*{
    margin:10px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #1f2937;
    width: 100%;
    height: 100vh;
    margin: 200px;
}
a{
    text-decoration: none;
}
nav{
    
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgb(137, 195, 195);
    

}
.navbar .logo{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo .jathu{
    font-size: 30px;
    font-weight: bold;
}
nav .logo a{
    font-size: 1.5rem;
    font-weight: 600;
    color:black;
    transition: 0.90s;
}
nav .logo a:hover{
color: #faf5ff;
}
nav .checkbox{
display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: black;
    cursor: pointer;
}
ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    transition:left 0.3s;
    align-items: center;


}
ul li a{
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: #9333ea;
    transition: 0.3s;

}
ul li a:hover{
    border-bottom-color: #000000;
}
.btn{
    font-size: 1.5rem;
    font-weight: 100;
    letter-spacing: 2px;
    padding: 0.2rem 0.3rem;
    outline: none;
    border: 2px solid rgb(3, 71, 148);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #2b2a2f;
    color: #aaabb0;
}
.btn:hover{
    background-color: teal;
    color: black;
}
.title{
    font-size: 40px;
    color: #6deaf8;
    text-align: left;
    margin-top: 200px;
}
span{
    color: wheat;
}
footer {
   text-align: center;
   padding:1em 0;
   background-color: #333;
   color: #fff;

}

footer span{
   color: #fd4766;
}

.footertop{
   background-color:  #d7e2f7;
}

.icons2{
   padding-left: 790px;
}
.fa-facebook{
   font-size: 50px;
   color: blue;
   padding: 15px;
}

.fa-instagram{
   font-size: 50px;
   color:rgb(231, 6, 81);
   padding: 15px;
}
.fa-twitter{
   font-size: 50px;
   color: rgb(8, 174, 240);
   padding:15px;
}
.fa-linkedin{
   font-size: 50px;
   color: rgb(29, 29, 240);
   padding: 15px;
}

.icons{
   display: flex;
   justify-content: center;
   padding-left: 210px;
   
}
.icons{
   padding-top: 30px;
}


}

body { 
    padding: 0; 
    margin: 0; 
} 

a { 
    position: absolute; 
    top: 89%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 110px; 
    height: 40px; 
    color: white; 
    text-decoration: none; 
    text-align: center; 
    padding-top: 30px; 
    font-size: 20px; 
    overflow: hidden; 
    background:rgb(34, 93, 93); 
} 

a::before { 
    content: ""; 
    position: absolute; 
    width: 0; 
    height: 0; 
    left: 0; 
    bottom: 0; 
    border-style: solid; 
    border-color: rgb(198, 74, 74); 
    border-width: 80px 100px; 
    z-index: -1; 
    transform: rotate(360deg); 
    transition: 1s; 
    transform-origin: left; 
} 

a:hover::before { 
    border-color:rgb(10, 10, 37); 
    transform: rotate(60deg); 
  
}   
.btn--download{
    padding: 16px 32px;
    font-size: 25px;
    position: fixed;
    bottom: 27px;
    left: calc(50% -96px);
    z-index: 100;
    box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
    animation: fade-up 0.5s 0.4s backwards;
    border-radius: 69px;
    }


.grid{
    display: grid;
    grid-template-columns: auto auto;
}
.text{
    font-size: 25px;
    width: 600px;
    text-align: justify;
}
.img img{
    width: 900px;
    border-radius: 20px;

}

