*{
    margin:10px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto;
}
.text{
    font-size: 25px;
    width: 600px;
    text-align: justify;
}
.img img{
    width: 900px;
    border-radius: 20px;

}
    
